@* καθοριζομαι το route *@
@*χωρις το / στην αρχη,θα περνει και το default*@

@*route constraints => πχ int => δηλωνω οτι περνει μονο int*@
@*επισης μπορω να εχω {id:range(1,100)}*@
@*ή {id:min(1)}*@

@*αν εχω αλφαριθμητικα => firstName:alpha*@
@*even:min(2) => εαν θέλω μονο ζυγους αριθμους με Min το 2*@
@page "/employee/view/{id:int:min(1)}"
@model razorPages.Pages.Employees.DetailsModel
@{
    ViewData["Title"] = "Details";
    var photopath = "~/images/" + (Model.Employee.PhotoPath ?? "noImage.png");
}
<div class="row justify-content-center m-3">
    @if (TempData["message"] != null)
    {
        <div class="col-sm-8">
            <div class="alert alert-primary">
                @TempData["message"]
            </div>
        </div>
    }
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Employee.Name</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@photopath" asp-append-version="true" />

                <h4>Employee ID : @Model.Employee.Id</h4>
                <h4>Email : @Model.Employee.Email</h4>
                <h4>Department : @Model.Employee.Department</h4>

            </div>
            <div class="card-footer text-center">
                <a asp-page="index" class="btn btn-primary">Back</a>
                <a asp-page="/Employees/Edit" asp-route-ID="@Model.Employee.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-page="/Employees/Delete" asp-route-ID="@Model.Employee.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        @await Component.InvokeAsync("HeadCount", new{department = Model.Employee.Department})
    </div>
</div>